<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleMapsRestAPIKey</key>
	<string>$(GOOGLE_MAPS_REST_API_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Bold.ttf</string>
		<string>Fredoka-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
